*.swp
.DS_Store
.netrwhist
.#spacemacs
config/configstore
config/fish/fishd.*
config/nvim/bundle
config/nvim/plugged
config/nvim/sessions
config/nvim/sessions/tmp
config/nvim/view
vim/bundle
vim/plugged
vim/sessions
vim/view
