*.swp
.#spacemacs
.DS_Store
.netrwhist
*.log
/config/coc/extensions/
/config/coc/commands
/config/coc/history.json
/config/coc/memos.json
/config/coc/mru
/config/coc/snippets-mru
/config/coc/
/config/configstore/
/config/exercism/
/config/fish/fishd.*
/config/htop/
/config/hub
/config/joplin/
/config/joplin-desktop/
/config/karabiner/automatic_backups/
/config/nvim/plugged/
/config/nvim/sessions/
/config/nvim/undo-dir/
/config/yarn/
