*.swp
.#spacemacs
.DS_Store
.netrwhist
config/configstore
config/fish/fishd.*
config/htop/htoprc
config/hub
config/karabiner/automatic_backups
config/nvim/bundle
config/nvim/plugged
config/nvim/sessions
config/nvim/sessions/tmp
config/nvim/view
