;; the rule [:!Ca :!T1]
    ;; means from command a to control 1
    ;; :!Ca is keycode :a and prefix a with !C

    ;; here's the definition

    ;; !  | means mandatory
    ;; #  | means optional
    ;; C  | left_command
    ;; T  | left_control
    ;; O  | left_option
    ;; S  | left_shift
    ;; F  | fn
    ;; Q  | right_command
    ;; W  | right_control
    ;; E  | right_option
    ;; R  | right_shift
    ;; !! | mandatory command + control + option + shift (hyper)
    ;; ## | optional any

    ;; examples

    ;; !CTSequal_sign  | mandatory command control shift =
    ;;                 | which is command control +
    ;; !O#Sright_arrow | mandatory option optional any right_arrow

    ;; karabiner definition of mandatory and optional
    ;; https://pqrs.org/osx/karabiner/json.html#from-event-definition-modifiers

    ;; rule [<from> <to>]
    ;; if simplified modifier is used in <to>, optional(#) definition will be
    ;; ignored.

;; Tutorial:
;; https://github.com/yqrashawn/GokuRakuJoudo/blob/master/tutorial.md#basic1

;; Examples:
;; https://github.com/yqrashawn/GokuRakuJoudo/blob/master/examples.org

;; Keycodes:
;; https://github.com/yqrashawn/GokuRakuJoudo/blob/master/src/karabiner_configurator/keys_info.clj

;; Hardware:
;; Unknown (BH Apple?):                    vendor_id: 1452, product_id: 34304
;; Apple Internal Keyboard (US laptop):    vendor_id: 1452, product_id: 610
;; Apple Internal Keyboard (16" laptop):   vendor_id: 1452, product_id: 832
;; Apple Internal Keyboard (UK laptop):    vendor_id: 1452, product_id: 636
;; CTRL Keyboard:                          vendor_id: 1240, product_id: 61138
;; Pok3r Keyboard:                         vender_id: 1241, product_id: 321
;; Apple Internal Keyboard (NOTHS laptop): vendor_id: 1452, product_id: 832

;; Run `goku` on CLI to generate karabiner.json file.
;; Run `gokuw` on CLI to generate karabiner.json file upon saving this file.

{:profiles {:Default {:default true}}

 :devices {:apple-uk-builtin-keyboard [{:vendor_id 1452 :product_id 636}]
           :apple-us-builtin-keyboard [{:vendor_id 1452 :product_id 832}]
           :ctrl-keyboard             [{:vendor_id 1240 :product_id 61138}]
           :ergodoxez-keyboard        [{:vendor_id 12951 :product_id 18806}]
           }

 ; :simlayers {:o-mode {:key :o}}
 ; :simlayer-threshold 500 ;; default is 250

 :main [{:des "caps_lock to esc when pressed alone, to ctrl as modifier"
         :rules [[:##caps_lock :left_control nil {:alone :escape}]]}

        {:des "fn + hjkl to arrows"
         :rules [[:!Fh :left_arrow]
                 [:!Fj :down_arrow]
                 [:!Fk :up_arrow]
                 [:!Fl :right_arrow]]}

        {:des "left_shift + 3 = #, right_shift + 3 = £"
         :rules [[:!S3 :!O3]]}

        ;; UK laptop -----------------------------------------------------------
        ;; Note: non_us_backslash is swapped with !Ospacebar in hyper_mode definition.
        ;; {:des "swap non_us_backslash and grave_accent_and_tilde for UK laptop"
        ;;  :rules [[:grave_accent_and_tilde :non_us_backslash [:apple-uk-builtin-keyboard :apple-us-builtin-keyboard]]
        ;;          [:!Sgrave_accent_and_tilde :!Snon_us_backslash [:apple-uk-builtin-keyboard :apple-us-builtin-keyboard]]
        ;;          [:!Rgrave_accent_and_tilde :!Rnon_us_backslash [:apple-uk-builtin-keyboard :apple-us-builtin-keyboard]]
        ;;          [:!Snon_us_backslash :!Sgrave_accent_and_tilde [:apple-uk-builtin-keyboard :apple-us-builtin-keyboard]]
        ;;          [:!Rnon_us_backslash :!Rgrave_accent_and_tilde [:apple-uk-builtin-keyboard :apple-us-builtin-keyboard]]
        ;;          ]}

        {:des "non_us_backslash to Hyper"
         :rules [[:non_us_backslash ["hyper-mode" 1] nil {:afterup ["hyper-mode" 0] :alone :non_us_backslash}]
                 [:1 "open '/Applications/1Password.app'"          ["hyper-mode" 1]]
                 [:b "open '/Applications/Brave Browser.app'"      ["hyper-mode" 1]]
                 [:c "open '/Applications/Fantastical.app'"        ["hyper-mode" 1]]
                 [:f "open '/Applications/Firefox.app'"            ["hyper-mode" 1]]
                 [:g "open '/Applications/GitHub Desktop.app'"     ["hyper-mode" 1]]
                 [:m "open '/Applications/Spotify.app'"            ["hyper-mode" 1]]
                 [:n "open '/Applications/Notion.app'"             ["hyper-mode" 1]]
                 [:s "open '/Applications/Slack.app'"              ["hyper-mode" 1]]
                 [:t "open '/Applications/iTerm.app'"              ["hyper-mode" 1]]
                 [:v "open '/Applications/Visual Studio Code.app'" ["hyper-mode" 1]]
                 [:w "open '/Applications/WhatsApp.app'"           ["hyper-mode" 1]]]}

        ;; This needs to stay in sync with the hyper-mode stuff above for now.
        {:des "open apps"
         :rules [[:!!1 "open '/Applications/1Password.app'"]
                 [:!!b "open '/Applications/Brave Browser.app'"]
                 [:!!c "open '/Applications/Fantastical.app'"]
                 [:!!f "open '/Applications/Firefox.app'"]
                 [:!!g "open '/Applications/GitHub Desktop.app'"]
                 [:!!m "open '/Applications/Spotify.app'"]
                 [:!!n "open '/Applications/Notion.app'"]
                 [:!!s "open '/Applications/Slack.app'"]
                 [:!!t "open '/Applications/iTerm.app'"]
                 [:!!v "open '/Applications/Visual Studio Code.app'"]
                 [:!!w "open '/Applications/WhatsApp.app'"]]}
        ]}
