"*":
  core:
    audioBeep: false
    disabledPackages: [
      "language-clojure"
      "hasklig"
      "firacode"
    ]
    telemetryConsent: "limited"
  editor:
    fontFamily: "FiraCode-Light"
    invisibles: {}
    scrollPastEnd: true
  elmjutsu:
    cacheDirectory: "/var/folders/8k/2zxgz_6954z69h869gjhk86r0000gn/T/elmjutsu29999cdd6WKGfNuxe"
  "exception-reporting":
    userId: "d119ab13-dece-4547-a40c-d52c19fda4f2"
  firacode:
    fontWeight: "light"
  "git-plus":
    experimental:
      useSplitDiff: true
  "markdown-toc-auto":
    max: 5
  minimap: {}
  welcome:
    showOnStartup: false
