"*":
  "autocomplete-plus":
    autoActivationDelay: 500
    confirmCompletion: "tab always, enter when suggestion explicitly selected"
  core:
    audioBeep: false
    automaticallyUpdate: false
    disabledPackages: [
      "language-clojure"
      "hasklig"
      "firacode"
      "minimap"
      "wrap-guide"
      "minimap-highlight-selected"
    ]
    packagesWithKeymapsDisabled: [
      "split-diff"
    ]
    telemetryConsent: "limited"
    titleBar: "custom"
  editor:
    fontFamily: "FiraCode-Light"
    fontSize: 12
    invisibles: {}
    scrollPastEnd: true
  "elm-format": {}
  elmjutsu:
    cacheDirectory: "/var/folders/8k/2zxgz_6954z69h869gjhk86r0000gn/T/elmjutsu29999cdd6WKGfNuxe"
  "exception-reporting":
    userId: "d119ab13-dece-4547-a40c-d52c19fda4f2"
  firacode:
    fontWeight: "light"
  "git-blame":
    columnWidth: 337
  "git-plus":
    commits:
      verboseCommits: true
    experimental:
      useSplitDiff: true
    general:
      splitPane: "Right"
    remoteInteractions:
      pullBeforePush: true
      pullRebase: true
  linter:
    lintOnChange: false
    lintOnChangeInterval: 1000
    lintPreviewTabs: false
  "linter-ui-default":
    panelHeight: 69
  "markdown-preview": {}
  "markdown-toc-auto":
    max: 5
  minimap: {}
  "no-title-bar":
    enableLiberalWindowDragging: false
  pigments:
    markerType: "native-square-dot"
  "recent-files-fuzzy-finder":
    restoreSession: true
  "split-diff":
    ignoreWhitespace: true
    turnOffSoftWrap: true
  "sync-settings":
    _lastBackupHash: "9425a183436ec7a7280166d03bf1447700eae862"
    gistId: "caca0605812f61c649f60c2088a45cd7"
    personalAccessToken: "2739824f479e529e76b854ee022930abe0a09478"
  "vim-mode-plus-ex-mode":
    notifiedUseExMode: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
