# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it here:
# https://github.com/bevry/cson#what-is-cson

'.text.plain':
  'Dash line':
    'prefix': '---'
    'body': '--------------------------------------------------------------------------------'
  'Double line':
    'prefix': '==='
    'body': '================================================================================'
'.source.gfm':
  'Dash line':
    'prefix': '---'
    'body': '--------------------------------------------------------------------------------'
'.source.ruby':
  'RWS - TODO':
    'prefix': 'rws'
    'body': '# TODO: RWS - $1'
  'RWS - debug output':
    'prefix': 'dbo'
    'body': """
      # TODO: RWS - remove this before committing
      puts "\\\\e[31m#\{'>' * 100\}\\\\e[39m"
      puts "${1:val}: #\{$1\}"
      puts "\\\\e[31m#\{'<' * 100\}\\\\e[39m"
    """
